/target/
target
.idea
.idea/**
.aws
.aws/**
/.idea/
/.idea/**
/.aws/
/.aws/**

.idea/runConfigurations
.idea/runConfigurations/**
.idea/workspace.xml
.idea/tasks.xml
.idea/dataSources
.idea/dataSources/**

bin
/bin
/bin/**

adso.iml
app_menuEasy.iml